body {
	background-color: #3399FF;
	font-family: sans-serif, Helvetica, Arial;
}

.link {
	font-weight: bold;
	text-decoration: none;
	color: #FF0000;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #33FF00;
	text-align: center;
	padding: 10px;
}

#main {
	background-color: #FFCC00;
	padding: 10px;
}

#navigation {
	background-color: #33FFFF;
	width: 760px;
	padding: 10px;
}

#animation {
	width: 780px;
	height: 200px;
}

#content {
	background-color: #CCFF00;
	width: 760px;
	padding: 10px;
}

#content h2 {
	text-align: center;
	color: #080808;
	margin: 10px;
}

#content ul {
	text-align: justify;
	color: #383838;
	margin-right: 50px;
}

#content2 {
	background-color: #FFFF00;
	text-align: center;
	width: 760px;
	padding: 10px;
}

#content2 h2 {
	color: #080808;
	width: 760px;
	margin: 10px;
}

#content2 li {
	text-align: left;
	color: #080808;
}

#content2 h4 {
	color: #080808;
	margin: 10px;
}

#content2 p {
	color: #383838;
	margin: 5px;
}

#content3 {
	background-color: #66CC00;
	text-align: justify;
	color: #383838;
	width: 760px;
	padding: 10px;
}

#content3 h2 {
	text-align: center;
	color: #080808;
	margin: 10px;
}

#content4 {
	background-color: #66FF00;
	color: #383838;
	width: 760px;
	padding: 10px;
}

#content4 h2 {
	text-align: center;
	color: #080808;
	margin: 10px;
}

#content4 dt {
	font-weight: bold;
	color: #080808;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content5 {
	background-color: #99FF00;
	text-align: center;
	color: #383838;
	width: 760px;
	padding: 10px;
}

#content5 h2 {
	color: #080808;
	margin: 10px;
}

#content5 h4 {
	color: #080808;
	margin: 10px;
}

#content5 p {
	margin: 5px;
}

#content6 {
	background-color: #99FF00;
	color: #383838;
	width: 760px;
	padding: 10px;
}

#content6 h2 {
	text-align: center;
	color: #080808;
	margin: 10px;
}

#content6 dt {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content6 dd {
	margin-left: 80px;
}

#content6 h4 {
	color: #080808;
	margin: 10px;
}

#content7 {
	background-color: #99FF00;
	color: #383838;
	width: 760px;
	padding: 10px;
}

#content7 h2 {
	text-align: center;
	color: #080808;
	margin: 10px;
}

#content7 dt {
	margin-top: 10px;
	margin-bottom: 10px;
}

#foot {
	padding: 10px;
	background-color: #33CCFF;
	color: #383838;
	text-align: right;
}

#foot p {
	margin: 0px;
}